<div class="panel panel-default panel-table py-3">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-6">
          <h3 class="panel-title">Lista Productos</h3>
        </div>
        <div class="col col-xs-6 text-right">
          <create-producto [idProducto]="null" [typeButton]="'1'"  [nameButton]="'crear'" (modifyProducto)="validatorEmitProducto($event)"></create-producto>
        </div>
    </div>
</div>
<div class="panel-body">
    <table class="table table-striped table-bordered table-list">
        <thead>
          <tr>
              <th>codigo</th>
              <th>cantidad</th>
              <th>nombre</th>
              <th>imagen</th>
              <th>precio</th>
              <th>acciones</th>
          </tr> 
        </thead>
        <tbody>
            <tr *ngFor = 'let producto of listProdutos'>
                <td>{{ producto.codBar }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.nombre | uppercase }}</td>
                <td><img class="img-fluid" style="width: 100px;" [src]="producto.imagenUrl"></td>
                <td>{{ producto.precio }}</td>
                <td align="left">
                  <create-producto [idProducto]="producto._id" [typeButton]="'2'"  [nameButton]="'editar'" (modifyProducto)="validatorEmitProducto($event)"></create-producto>
                  <delete-producto [idProducto]="producto._id" (modifyProducto)="validatorEmitProducto($event)"></delete-producto>
                </td>
            </tr>
        </tbody>
      </table>
</div>
