<ng-template #mdEmpleado let-modal>
    <div class="modal-header">
      <h4 class="modal-title">confirmacion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>quieres eliminiar este empleado?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteEmpleado()">si</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">no</button>
    </div>
</ng-template>
<button class="btn btn-danger mb-2" (click)="callModalService(mdEmpleado)">Eliminar</button>
